.cart-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    // padding-bottom: 30px;
}

.h2 {
    color: rgb(37, 37, 253);
    margin: 30px 0 0 10px;
}